# Cordova Global
plugins/
resources/

# iOS Platform
platforms/ios/build/
platforms/ios/www/
platforms/ios/cordova/console.log
*.xcuserdatad

# Android Platform
platforms/android/.gradle
platforms/android/build
platforms/android/assets/www
platforms/android/local.properties
platforms/android/CordovaLib/build
platforms/android/CordovaLib/gen
platforms/android/CordovaLib/local.properties

# wp8
platforms/wp8/bin
platforms/wp8/obj
platforms/wp8/www
platforms/wp8/.staging
platforms/wp8/*.suo
platforms/wp8/*.csproj.user

# Windows Universal App (Windows Platform)
platforms/windows/build
platforms/windows/www
platforms/windows/AppPackages

# Electron
platforms/electron/build
platforms/electron/build-res
platforms/electron/www
platforms/electron/config.xml
platforms/electron/electron.json

# Browser
platforms/browser/www

# res
resources/signing

# Node JS + TS
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
dist/
node_modules/
jspm_packages/
typings/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.cache
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Mac
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk

# Custom
# www/nodejs-project/node_modules/image-q/demo/
# www\nodejs-project\node_modules\gifwrap\test/
# www\nodejs-project\node_modules\@jimp\tiff\test\
# www\nodejs-project\node_modules\xmltv\test\
demo/
test/
www/nodejs-project/modules/premium/
www/nodejs-project/ffmpeg/*
www/nodejs-project/.arch
build-extras.gradle
www/nodejs-project/arch.dat
www/nodejs-project/package-lock.json
www/nodejs-project/tool.html
