<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="117" id="tv.megacubo.app" version="16.1.7" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Megacubo</name>
    <description>
        An intuitive, free and open source IPTV player.
    </description>
    <author email="contact@megacubo.tv" href="https://megacubo.tv">
        Megacubo Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="cordova-custom-config-autorestore" value="true" />
    <platform name="android">
		<custom-config-file target="AndroidManifest.xml" parent="/*" mode="replace">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.VIBRATE" />
		</custom-config-file>
		<custom-config-file target="AndroidManifest.xml" parent="./application" mode="replace">
			<service android:name="de.appplant.cordova.plugin.background.ForegroundService" />
		</custom-config-file>
        <allow-intent href="market:*" />
		<preference name="android-minSdkVersion" value="24" /> <!-- not custom-preference here, seemed more effective in a specific scenario //-->
		<preference name="android-targetSdkVersion" value="29" />
        <custom-preference name="android-manifest/uses-sdk/@android:minSdkVersion" value="24" />
        <custom-preference name="android-manifest/uses-sdk/@android:targetSdkVersion" value="29" />
        <custom-preference name="android-manifest/application/@android:usesCleartextTraffic" value="true" />
        <custom-preference name="android-manifest/application/@android:theme" value="@android:style/Theme.DeviceDefault.NoActionBar" />
        <custom-preference name="android-manifest/application/@android:hardwareAccelerated" value="true" />
        <custom-preference name="android-manifest/application/@android:requestLegacyExternalStorage" value="true" />
        <custom-preference name="android-manifest/@android:hardwareAccelerated" value="true" />        
        <custom-preference name="android-AllowInlineMediaPlayback" value="true" />
        <custom-preference name="android-AndroidLaunchMode" value="singleInstance" />
        <custom-preference name="android-AndroidPersistentFileLocation" value="Compatibility" />
        <custom-preference name="android-AndroidExtraFilesystems" value="files,files-external,documents,sdcard,root" />
        <custom-preference name="android-KeyboardResize" value="false" />
        <custom-preference name="android-loadUrlTimeoutValue" value="300000" />
        <custom-preference name="android-MediaPlaybackRequiresUserAction" value="false" />
        <custom-preference name="android-MixedContentMode" value="0" />
        <custom-preference name="android-ResolveServiceWorkerRequests" value="false" />
        <custom-preference name="android-resizeOnFullScreen" value="false" />
        <resource-file src="resources/android/notification.png" target="app/src/main/res/mipmap-ldpi/icon.png" />
		<resource-file src="resources/android/notification.png" target="app/src/main/res/mipmap-mdpi/icon.png" />
		<resource-file src="resources/android/notification.png" target="app/src/main/res/mipmap-hdpi/icon.png" />
		<resource-file src="resources/android/notification.png" target="app/src/main/res/mipmap-xhdpi/icon.png" />
		<resource-file src="resources/android/notification.png" target="app/src/main/res/mipmap-xxhdpi/icon.png" />
        <resource-file src="resources/android/banner.png" target="/app/src/main/res/drawable/banner.png" />
        <resource-file src="resources/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <icon src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon background="resources/android/icon/ldpi-background.png" qualifier="ldpi" density="ldpi" foreground="resources/android/icon/ldpi-foreground.png" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon background="resources/android/icon/mdpi-background.png" qualifier="mdpi" density="mdpi" foreground="resources/android/icon/mdpi-foreground.png" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon background="resources/android/icon/hdpi-background.png" qualifier="hdpi" density="hdpi" foreground="resources/android/icon/hdpi-foreground.png" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon background="resources/android/icon/xhdpi-background.png" qualifier="xhdpi" density="xhdpi" foreground="resources/android/icon/xhdpi-foreground.png" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon background="resources/android/icon/xxhdpi-background.png" qualifier="xxhdpi" density="xxhdpi" foreground="resources/android/icon/xxhdpi-foreground.png" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon background="resources/android/icon/xxxhdpi-background.png" qualifier="xxxhdpi" density="xxxhdpi" foreground="resources/android/icon/xxxhdpi-foreground.png" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
    </platform>
</widget>
