@font-face {
  font-family: 'megacubo';
  src:
    url('fonts/megacubo.ttf?l2fgjh') format('truetype'),
    url('fonts/megacubo.woff?l2fgjh') format('woff'),
    url('fonts/megacubo.svg?l2fgjh#megacubo') format('svg');
  font-weight: lighter;
  font-style: normal;
}

.fa-mega {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'megacubo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-mega:before {
  content: "\e900";
}
