::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1ex;
}
* {
    -webkit-user-drag: none;
}
div#menu {
    -webkit-user-select: none;
    user-select: none;
}
input {
    -webkit-app-region: no-drag;
    -webkit-user-select: text;
    user-select: text;
}
#menu {
    outline: 0;
}
#menu > div {
    align-items: center;
    text-align: center;
    width: calc(100% - 1px);
    height: 100%;
    position: absolute;
    right: 1px;
}
#menu .list {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    transition: background 1s linear 0s;
}
#menu div.list > div {
    width: -webkit-fill-available;
    height: 100%;
    display: inline-block;
    overflow: hidden auto;
}
body.home #menu div.list > div {
    display: table;
}
#menu div.list > div > div {
    width: -webkit-fill-available;
    height: 100%;
    display: inline-block;
    overflow: hidden auto;
}
body.home #menu div.list > div > div {
    display: table-cell;
}
a.entry {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    width: 100%;
    text-align: left;
    position: relative;
    scroll-snap-align: start;
}
a.entry-disable td > span {
    opacity: .1;
}
a.entry:focus, .focused {
    outline: 0 !important;
}
a.entry tbody {
    height: inherit;
    display: flex;
}
a.entry tr {
    height: inherit;
    width: 100%;
}
a.entry td {
    height: inherit;
    width: inherit;
    display: table-cell;
    align-items: center;
    vertical-align: middle;
    line-height: 150%;
    margin: auto;
    padding: 0;
}

a.entry:not(.entry-compact) td:not(.entry-logo-c) {
    position: relative;
    top: -2px;
}

.entry-logo {
    text-align: center;
    display: inline-block;
    align-items: center;
    position: relative;
}

a.entry-stream .entry-logo img {
    -webkit-box-reflect: below 0  -webkit-linear-gradient(bottom, rgba(255,255,255,0.3) 0%, transparent 33%);
}

.entry-slider input {
    margin: 4px 0 0 0;
    width: calc(100% - 15%);
}

.entry-slider span.entry-slider-value {
    text-align: center;
    text-transform: none;
}

input[type=range]:focus {
    outline: 0;
}

span.entry-logo-img-c, span.entry-logo-fa-c {
    overflow: hidden;
    width: inherit;
    height: inherit;
    text-align: center;
    align-items: center;
    position: relative;
    top: 0;
    vertical-align: text-bottom;
}

span.entry-logo-img-c {
    display: inline-flex;
}

span.entry-logo-fa-c {
    display: table-cell;
    float: left;
}

.entry-logo img {
    width: auto;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    color: rgba(0,0,0,0.01);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}

.entry-offline .entry-logo-img-c, .entry-offline .entry-logo-fa-c, .entry-offline .entry-logo-img-c, .entry-offline .entry-name {
    opacity: 0.15;
}

.entry-name {
    display: table-cell;
    word-wrap: break-word;
    position: relative;
    left: -4px;
}

input.entry-name {
    color: #000;
    text-shadow: none;
}

.entry-input .entry-input-logo{
    width: 0px;
    display: inline-flex;
    align-items: center;
    float: right;
    height: inherit;
    position: relative;
}

.entry-input img, .entry-input svg {
    height: 96%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: auto;
}

.entry-hide {
    display: none !important;
}

.entry-label {
    display: inline-block;
    word-wrap: break-word;
    text-align: left;
}

.entry-flags {
    display: table-cell;
    position: relative;
    left: -2px;
}

.entry-flags > span {
    z-index: 1;
    margin-right: 3px;
}

.entry-flags > span:empty {
    display: none;
}

.entry-flags svg, .entry-flags i {
    margin: 0 3px 0 0;
}

.entry-flags svg.fa-circle-notch.fa-spin {
    height: 0.99em;
}

.entry-offline > span {
    opacity: 0.33;
}

body:not(.indexed) .search-index-vary {
    opacity: 0.33;
    pointer-events: none;
}

.entry table {
    width: -webkit-fill-available;
    height: inherit;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
}

.entry {
    -webkit-user-drag: none !important;
    user-drag: none !important;
}

.entry-stream, .entry-group {
    -webkit-user-drag: element !important;
    user-drag: element !important;
}

.entry-input input {
    font-size: 200%;
    border-radius: 4px;
    border-width: 0;
    width: 101%;
    height: 96%;
    padding: 0 6px;
    box-sizing: border-box;
    opacity: 0.9;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    outline: 0;
}

.entry-input tbody, .entry-input tr, .entry-input td {
    width: 100%;
    height: 100%;
    display: block;
}

#menu a.entry {
    cursor: pointer !important;
    box-sizing: border-box;
    -webkit-user-drag: element;
}

.entry-slider {    
    -webkit-user-drag: none !important;
}

a.option.focused, a.option:hover {
    outline: 0 !important;
    color: #ffffff !important;
    background: radial-gradient(farthest-corner, #111 0%, transparent 55%);
}

div#menu .list > div > div {
    vertical-align: top;
    scroll-snap-type: y mandatory;
    overflow: hidden auto;
}

body.submenu div#menu .list > div > div {
    overflow: hidden;
}

body.home div#menu .list > div > div {
    vertical-align: middle;
}

div#menu-wrapper {
    outline: 0;
}

div#menu-wrapper > div, div.list {
    height: 100%;
}

#menu-toggle, div#menu-toggle * { 
    cursor: pointer; 
}

#menu-toggle { 
    text-decoration: none; 
    display: inline-block; 
    position: absolute; 
    left: -34px;
    top: 0;
    z-index: 9999; 
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-style: solid;
    border-width: 0 0 1px 1px;
    transition: left 0.1s linear;
    width: fit-content;
}

body.has-menu-margin #menu-toggle { 
    border-top-right-radius: 0 !important;
}

body.has-menu-margin:not(.auto-hide) div#menu-wrapper > div { 
    border-top-left-radius: 0 !important;
}

#menu-toggle-container {
    position: relative;
    display: flex;
}

body.home:not(.has-menu-margin) #menu-toggle { 
    left: 0px;
    border-width: 0 1px 1px 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}

body.playing #menu-trigger, body.paused #menu-trigger {
    opacity: 0.75; 
}

body:not(.playing) #menu-toggle:hover, body:not(.playing) #menu-trigger:hover {
    opacity: 1;
}

.entry-sub {
    background-color: rgba(150, 160, 255, 0.15) !important;
    box-shadow: none !important;
    border-top-color: transparent !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

a.entry-back.entry-sub { 
    background-color: rgba(150, 160, 255, 0.075) !important;
}

body.submenu a.entry:not(.entry-sub) { 
    opacity: 0.1 !important; 
    pointer-events: none; 
} 

/*

.entry-sub-first { 
    border-top-left-radius: 4px;
}

.entry-sub-last { 
    border-bottom-left-radius: 4px;
    margin-bottom: -25% !important;
}

*/

.entry-logo-fa {
    line-height: 100%;
    position: relative;
    max-width: 100%;
}

.entry-logo-fa-c .fa-xs {
    position: relative;
    font-size: 1.25em;
    left: -0.1225em;
    top: -0.25em;
    border-radius: 12px;
    padding: 33%;
}

.entry-logo-img-c .fa-xs {
    position: relative;
    font-size: 1.25em;
    top: 0.0125em;
    left: -0.1225em;
    border-radius: 12px;
    padding: 33%;
}

.entry-label, .entry-name {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}

#vcontrols {
    top: auto;
    bottom: 0;
    z-index: 3;  
    height: auto;
    padding: 6px;
    display: flex;  
    position: absolute;
    visibility: hidden;
    transition: 0.1s opacity linear 0.1s;
    box-sizing: border-box;    
    align-items: center;
}

body.frameless:not(.miniplayer) #vcontrols {
    bottom: -1px;
}

body.has-menu-margin #vcontrols {
    margin-bottom: 2px;
}

body:not(.playing):not(.paused):not(.loading) #vcontrols { /* stoppped */
    visibility: hidden !important;
}

#vcontrols > * {
    display: flex;
    flex: none;
}

#vcontrols a, #vcontrols div {
    display: inline-block;
}

#vcontrols .video-seek, #vcontrols .volume-slider {
    display: inline-flex;
    flex: auto;
    align-items: center;      
}

#vcontrols .volume-slider {    
    height: -webkit-fill-available;
    float: right; 
}

#vcontrols .video-seek input {
    width: 100%;
}

#vcontrols .video-play {
    padding-left: 16px;
}

#vcontrols .volume-box {
    padding: 0 18px;
}

#vcontrols .volume-button {
    padding-right: 6px;
    position: relative;
    bottom: -2px;
}

#vcontrols .fa-volume-off {
    padding-right: 10px;
    display: none;
}

#vcontrols .video-scale svg, #vcontrols .video-scale i {
    box-sizing: border-box;
    padding: 1px;
    width: 1.25em;
}

#vcontrols .video-timer {
    display: inline-flex !important;
    align-items: center;
    line-height: 200%;
}

#vcontrols input[type=range] {
    overflow: hidden;
    visibility: inherit !important;
}

#vcontrols input[type=range], #vcontrols input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 2px;
    cursor: pointer;
}

#vcontrols input[type=range]::-webkit-slider-thumb {
    height: 12px;
    width: 4px;
}

#vcontrols .video-scale {
    text-decoration: none;    
    padding: 2px 6px;
    margin: 0 8px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 68%;
    align-items: center;
    letter-spacing: 0.75px;
    border-radius: 2px;
    height: 100%;
}

#vcontrols .video-reload {
    display: none;
}

body.miniplayer #vcontrols .video-seek input {
    display: none !important;
}

body.over:not(.hiding-menu) #vcontrols, /* over */
body.paused #vcontrols, /* paused */ 
body #vcontrols:focus-within /* focused */ 
{ 
	opacity: 1;
}

body.no-video #vcontrols {
    visibility: hidden !important;
}

.menu-footer {
    display: none;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 999999999;
    width: 100%;
    left: auto;
    right: -1px;
}

body.home:not(.submenu) .menu-footer {
    display: inline-block;
}  

a.entry-compact {
    float: left;
    box-sizing: border-box;
    padding: 0 !important;
    border-radius: 4px;
    border-bottom-color: transparent !important;
}

a.entry-compact .entry-name, a.entry-compact .entry-label, a.entry-compact td:not(.entry-logo-c) {
    display: none;
}

a.entry-compact table {
    width: 100% !important;    
}

a.entry-compact td.entry-logo-c {
    width: 100% !important;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}