::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1ex;
}
* {
    -webkit-user-drag: none;
}
div#controls {
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    user-select: none;
}
input {
    -webkit-app-region: no-drag;
    -webkit-user-select: text;
    user-select: text;
}
#controls {
    outline: 0;
}
#controls > div {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
}
#controls .list {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;
    background: transparent;
    transition: background-color 1s linear 0s, background 1s linear 0s;
}
#controls div.list > div {
    width: 100%;
    height: 100%;
    display: table;
    padding-right: 48px; /* for easing curve */
}
#controls div.list > div > div {
    width: 100%;
    height: 100%;
    display: table-cell;
}
a.entry {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    width: calc(100% - 12px);
    text-align: left;
    position: relative;
}
a.entry:focus, a.entry.entry-focused {
    outline: 0 !important;
    background: linear-gradient(to bottom, rgba(188, 211, 253, 0.05) 0%, rgba(188, 211, 253, 0.21) 100%);
}
a.entry tbody {
    height: inherit;
    display: flex;
}
a.entry tr {
    height: inherit;
    width: 100%;
}
a.entry td {
    height: inherit;
    width: inherit;
    display: table-cell;
    align-items: center;
    vertical-align: middle;
    line-height: 150%;
    margin: auto;
    padding: 0;
    position: relative;
    top: -1px;
}

.entry-logo {
    text-align: center;
    display: inline-block;
    align-items: center;
    position: relative;
}

a.entry-stream .entry-logo {
    border: 1px solid rgba(255, 255, 255, 0.038);
}

a.entry-stream .entry-logo img {
    -webkit-box-reflect: below 0  -webkit-linear-gradient(bottom, rgba(255,255,255,0.3) 0%, transparent 33%);
}

.entry-slider input {
    margin: 4px 0 0 0;
    width: 100%;
}

input[type=range]:focus {
    outline: 0;
}

span.entry-logo-img-c {
    overflow: hidden;
    width: inherit;
    height: inherit;
    display: inline-flex;
    text-align: center;
    align-items: center;
    position: relative;
}

.entry-logo img {
    width: auto;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    color: rgba(0,0,0,0.01);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}

.entry-offline {
    border-color: rgba(255, 255, 255, 0.09) !important;
}

.entry-name {
    display: block;
    word-wrap: break-word;
    padding-left: 6px;
}

input.entry-name {
    color: #000;
    text-shadow: none;
}

.entry-hide {
    display: none !important;
}

.entry-label {
    display: block;
    word-wrap: break-word;
}

.entry-status {
    height: 0;
    display: block;
    position: relative;
    top: 100%;
}

.entry-status > span {
    position: absolute;
    color: #ffffff;
    font-size: 150%;
    bottom: -5px;
    right: 0;
    text-shadow: 0 1px 1px #000;
    z-index: 1;
}

.entry-status .fa-play-circle { /* fill play triangle */
    background: radial-gradient(#000000 10%, #777777 50%, transparent 51%);
}

.entry-offline > span {
    opacity: 0.33;
}

.entry table {
    width: calc(100% - 12px);
    height: inherit;
    overflow: hidden;
    position: absolute;
    display: inline-block;
}

.entry-input input {
    font-size: 200%;
    border-radius: 6px;
    border-width: 0;
    width: 100%;
    height: 96%;
    padding: 0 6px;
    box-sizing: border-box;
    background-image: url(/assets/icons/white/search-dark.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 99%;
    opacity: 0.9;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    outline: 0;
}

.entry-input tbody, .entry-input tr, .entry-input td {
    width: 100%;
    height: 100%;
    display: block;
}

#controls a.entry {
    padding: 6px;
    cursor: pointer !important;
}

.entry-label {
    text-transform: uppercase;
    text-align: left;
}

a.option {
    color: rgba(255, 255, 255, 0.28);
}

a.option.entry-focused, a.option:hover {
    outline: 0 !important;
    color: #ffffff !important;
    background: radial-gradient(farthest-corner, #111 0%, transparent 55%);
}

div#controls .list > div > div {
    vertical-align: top;
}

body.home div#controls .list > div > div {
    vertical-align: middle;
}

div#controls-in {
    outline: 0;
}

div#controls-in > div, div.list {
    height: 100%;
}

#home-icons, #list-icons {
    transition: top 0.2s linear 0s;
    visibility: visible;
    font-size: 150%;
    position: absolute;
    right: 6px;
    z-index: 9999;
}

#home-icons {
    display: none;
    top: 100vh;
}

#list-icons {
    display: none;
    top: 100vh;
}

body.miniplayer #home-icons, body.miniplayer #list-icons {
    display: none !important;
}

body.scrolled_400:not(.home) #list-icons {
    display: inline-block;
    padding: 3px 8px 4px 2px;
    right: 0px;
    border-top-left-radius: 6px;
    border-style: solid;
    border-width: 1px 0 0 1px;
    top: auto;
    bottom: 0;
}

body.showcontrols.home #home-icons {
    display: inline-block;
    top: auto;
    bottom: 4px;
}

#home-icons a, #list-icons a {
    text-decoration: none;
    position: relative;
    padding-left: 6px;
    transition: background 0.2s linear 0s;
    outline: 0;
}

#controls-toggle, div#controls-toggle * { 
    cursor: pointer; 
}

#controls-toggle { 
    text-decoration: none; 
    display: inline-block; 
    position: absolute; 
    left: -30px;
    top: 0;
    z-index: 9999; 
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0;
    padding: 2px 7px 3px 10px;
    font-size: 174%;
    border-style: solid;
    border-width: 0 0 1px 1px;
    transition: left 0.2s linear;
}

body.home #controls-toggle { 
    left: 0px;
    border-width: 0 1px 1px 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 6px;
}

body.playing #controls-toggle, body.paused #controls-toggle {
    opacity: 0.5; 
}

body:not(.playing) #controls-toggle:hover {
    opacity: 1;
}

#controls-toggle:hover { 
    padding: 2px 8px 3px 11px;
}

#controls-toggle.entry-focused, .nw-cf-btn.entry-focused {
    background: #002880;
    outline: 0 !important;
}

.entry-sub {
    background-color: rgba(150, 160, 255, 0.15) !important;
    box-shadow: none !important;
    border-top-color: transparent !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

a.entry-back.entry-sub { 
    background-color: rgba(150, 160, 255, 0.075) !important;
}

/*

.entry-sub-first { 
    border-top-left-radius: 4px;
}

.entry-sub-last { 
    border-bottom-left-radius: 4px;
    margin-bottom: -25% !important;
}

*/

@media (min-height: 1000px) {
    div#controls {
        font-size: 16px;
    }
    .entry td.entry-logo-c {
        width: 102px;
    }
    #controls a.entry {
        height: 112px;
    }
    .entry-logo {
        width: 100px;
        height: 100px;
    }
    .entry-logo img {
        max-height: 100px;
    }
    .entry-logo-fa {
        font-size: 96px;
        line-height: 100%;
        position: relative;
    }
    .entry-label, .entry-name {
        padding-left: 18px;
    }
}
@media (min-height: 800px) and (max-height: 999px) {
    div#controls {
        font-size: 15px;
    }
    .entry td.entry-logo-c {
        width: 82px;
    }
    #controls a.entry {
        height: 92px;
    }
    .entry-logo {
        width: 80px;
        height: 80px;
    }
    .entry-logo img {
        max-height: 80px;
    }
    .entry-logo-fa {
        font-size: 76px;
        line-height: 100%;
        position: relative;
    }
    .entry-label, .entry-name {
        padding-left: 12px;
    }
}
@media (min-height: 700px) and (max-height: 779px) {
    div#controls {
        font-size: 13px;
    }
    .entry td.entry-logo-c {
        width: 62px;
    }
    #controls a.entry {
        height: 72px;
    }
    .entry-logo {
        width: 60px;
        height: 60px;
    }
    .entry-logo img {
        max-height: 60px;
    }
    .entry-logo-fa {
        font-size: 56px;
        line-height: 100%;
        position: relative;
    }
    .entry-label, .entry-name {
        padding-left: 9px;
    }
}
@media (min-height: 450px) and (max-height: 699px) {
    div#controls {
        font-size: 11px;
    }
    .entry td.entry-logo-c {
        width: 42px;
    }
    #controls a.entry {
        height: 52px;
    }
    .entry-logo {
        width: 40px;
        height: 40px;
    }
    .entry-logo img {
        max-height: 40px;
    }
    .entry-logo-fa {
        font-size: 36px;
        line-height: 100%;
        position: relative;
    }
    .entry-label, .entry-name {
        padding-left: 6px;
    }
}
@media (max-height: 459px) {
    div#controls {
        font-size: 10px;
    }
    .entry td.entry-logo-c {
        width: 32px;
    }
    #controls a.entry {
        height: 42px;
        padding: 0 6px;
    }
    .entry-logo {
        width: 30px;
        height: 30px;
    }
    .entry-logo img {
        max-height: 30px;
    }
    .entry-logo-fa {
        font-size: 26px;
        line-height: 100%;
        position: relative;
    }
    .entry-label, .entry-name {
        padding-left: 6px;
    }
}
