body {
    overflow: hidden;
    margin-top: 0 !important;
}

iframe {
    border-width: 0;
}

body .fit-screen, body .fit-player {
    top: 30px;
    height: calc(100vh - 30px);
}

iframe#testing-player {
    width: 640px;
    height: 480px;
}

div#player-status {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 2;
	pointer-events: none;
}

div#player-status svg {
	color: #fff;
	font-size: 72px;
	opacity: 0.75;    
}

div#player-status .fac {
	background: rgba(3, 11, 23, 0.75);
	padding: 12px;
	border-radius: 5px;
	display: none;
}

body.loading div#player-status, body.paused div#player-status {
	display: flex !important;
}

body.loading div.fac-loading {
	display: block !important;
}

body.paused div.fac-paused {
	display: block !important;
}

#player-top-bar {
	display: none;
	position: absolute;
    z-index: 99999 !important;
    top: auto;
    bottom: 36px;
    right: 48px;
    line-height: 100%;
	padding: 8px 0px 4px 0px !important;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    text-align: center;
    height: auto;
}

#player-top-bar a {
	cursor: pointer;
	text-transform: uppercase;
    text-decoration: none;
	font-size: 88%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body.paused #player-top-bar, body.playing.over #player-top-bar {
	display: inline-block;
    transition: display 0s linear 1s;
}

div#controls {
    overflow: visible;
    backface-visibility: hidden;
	transform: translate3d(0, 0, 1px);
    margin-top: 0 !important;
    perspective: 365px;
    -webkit-app-region: no-drag;
    position: absolute;
    left: auto;
    transition: transform 0.05s cubic-bezier(0, 1.1, 1, 1) 0s;
    z-index: 9998;
    right: 0;
    top: 30px;
    display: none;
    height: calc(100vh - 30px);
    transform: translate(100%, 0) rotateY(-140deg);
}

body.showcontrols div#controls {
    transform: translate(0%, 0) rotateY(0deg);
}

body.frameless .fit-screen, body.frameless .fit-player, body.frameless div#controls {
    top: 0px;
    height: 100vh;
}

body.miniplayer div#controls {
    display: none !important;
}

#nw-custom-frame {
    z-index: 999;
    height: 30px;
    overflow: hidden;
    transition: height 0.2s linear 0s;
}

body.frameless #nw-custom-frame {
    height: 0 !important;
}

.nw-cf-handle {
    overflow: hidden;
}

.nw-cf-icon { 
    background-position: center center; 
    background-repeat: no-repeat; 
}

.nw-cf-handle .nw-cf-icon { 
    margin-left: 5px;
}

.nw-cf-title { 
    vertical-align: top; 
    margin-left: 4px; 
}

.nw-cf-btn { 
    border-width: 0px; 
    position: relative;
    top: -2px;
    width: 42px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}	

.nw-cf-btn:hover { 
    background-color: #20242F;
}

.nw-cf-close:hover {
    background-color: #402;
}

.nw-cf-close {
    position: relative;
}

.nw-cf-btn .nw-cf-icon { 
    vertical-align: middle;
}		

div#notify-area { 
    max-width: 100vw; 
    font-size: 136%; 
    position: absolute; 
    top: 30px;
    left: 0;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 2147483647 !important;
    height: auto;
    padding-right: 74px;
}

body.frameless div#notify-area { 
    top: 0;
    left: 0;
}

div.notify { 
    width: auto;
    font-size: inherit;
    margin: 18px 0 0 18px; 
    display: inline-block;
    /*
    background-color: rgba(150, 0, 0, 0.45);
    box-shadow: inset 0 -5px 18px 8px rgba(50, 0, 0, 0.3), inset 0 0 3px 3px rgba(50, 0, 0, 0.3);
    */
}

div.notify img { 
    width: 28px;
    height: 28px;
    vertical-align: top;
}

div.notify span.notify-icon { 
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; 
    overflow: hidden;
    display: inline-block;
    vertical-align: text-top;
}

div.notify-row {
    display: block;
    font-size: 75%;
    transition: font-size 0.2s cubic-bezier(0, 1.1, 1, 1) 0.2s;
}

div.notify-row.notify-first {
    display: block;
    font-size: 100%;
}

iframe#overlay {
    transition: background 0.4s cubic-bezier(0, 1.1, 1, 1) 0.2s;
    pointer-events: none;
    z-index: 3;    
}

body.playing iframe#overlay, body.paused iframe#overlay {
    background: transparent;
}

body.paused iframe#overlay {
    pointer-events: none;
    z-index: 2;
}

iframe#sandbox {
    background-color: #fff;
}

#player {
    z-index: 1;
}

body.miniplayer #player, body.miniplayer  iframe#sandbox, body.miniplayer div#suggest, body:not(.showcontrols) #player, body:not(.showcontrols) iframe#sandbox, body:not(.showcontrols) div#suggest {
    width: 100vw !important;
}

body:not(.miniplayer) #player, body:not(.miniplayer) iframe#sandbox {
    transition: all 0.05s cubic-bezier(0, 1.1, 1, 1) 0s;
}

body.modal div#controls {
    display: none;
}

div#modal-overlay { 
    display:none;
    background: radial-gradient(rgba(0, 0, 0, 0.86) 70%, rgba(0, 0, 0, 1) 100%); 
    width: 100vw; 
    height: 100vh; 
    position: absolute; 
    z-index: 10000;
}

div#modal-overlay > div { 
    display: table;
    width: 100%;
    height: 100%;
}

div#modal-overlay > div > div { 
    display: table-cell;
    vertical-align: middle;
    align-items: center;
    text-align: center;    
}

div#modal-overlay .prompt {
    display: inline-block;
    width: 100%;
    max-width: calc(80% + 4px);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 60px 0 #000;
}

div#modal-overlay .prompt textarea, div#modal-overlay .prompt input {
    width: 100%;
    border-width: 0;
    outline: 0;
    padding: 6px;
    box-sizing: border-box;
}

div#modal-overlay .prompt input {
    height: 31px;
}

div#modal-overlay .prompt textarea {
    height: 160px;
}

.prompt-close {
    position: relative;
    float: right;
}

.prompt-close a {
    position: absolute;
    right: 11px;
    top: 18px;
    color: #000;
}

.prompt-footer, .prompt-header {
    width: 100%;
    min-height: 36px;
    display: block;
    margin: 0 auto;
    font-size: 125%;
    line-height: 175%;
}

.prompt-header {
    background: #e5e9ef;
    color: #000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 10px 26px;
    box-sizing: border-box;
}

.prompt-footer {
    background: #325EA8;
}

.prompt-footer .button {
    display: inline-block;
    background: #325EA8;
    color: #fff;
    height: 100%;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.prompt-footer .button:hover {
    background: #5b85cc;
}

.prompt-1-columns .button {
    width: 100%;
}

.prompt-2-columns .button {
    width: 50%;
}

.prompt-3-columns .button {
    width: 33.33%;
}

.prompt-4-columns .button {
    width: 25%;
}

.vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#menu-trigger-icon {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 9999 !important;
    padding: 2px 14px 2px 7px;
    border-bottom-left-radius: 4px;
    display: none;
    border-style: solid;
    border-width: 0 0 1px 1px;
    font-size: 118%;
    cursor: pointer;
}

body.over #menu-trigger-icon {
    display: inline-block;
}

#menu-trigger-icon:hover {
    color: #fff;
    padding: 2px 15px 2px 8px;
}

#menu-trigger-icon i, #menu-trigger-icon svg {
    font-size: 100%;
}

body.showcontrols #menu-trigger-icon, body.paused #menu-trigger-icon, body.miniplayer #menu-trigger-icon {
    display: none !important;
}

body.frameless #menu-trigger-icon {
    top: 0px !important;
}

body #controls {
    width: 34%;
    transition: width 0.2s linear;
}

body.playing #controls, body.paused #controls {
    width: 30%;
}

#player, iframe#sandbox, div#suggest {
    width: calc(100vw - 34%); /* +18px to box-shadow */
}

body.playing #player, body.playing iframe#sandbox, body.playing div#suggest, body.paused #player, body.paused iframe#sandbox, body.paused div#suggest {
    width: calc(100vw - 30%); /* +18px to box-shadow */
}

#splash {
    z-index: 2147483647;
    width: 100vw !important;
    height: 100vh !important;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
}

#splash img.splash-image {
    margin-top: -42px;
}

#splash img.splash-spinner {
    position: absolute;
    bottom: 24px;
    width: 24px;
    height: 24px;
    opacity: 0.6;
}

div#suggest { 
    position: absolute; 
    bottom: -4px; 
    left: 0;
    padding-left: 6px;
    transition: opacity 0.2s linear 0.2s;
    opacity: 0.001;
    z-index: 3;
}

body.over div#suggest {
    opacity: 1;
}

body.playing div#suggest, body.paused div#suggest {
    display: none;
}

div#suggest div {
    overflow: hidden;
    white-space: nowrap;
}

div#suggest-a {
    display: inline-block;
    animation: marquee 40s linear infinite;
}

div#suggest-b {
    display: inline-block;
    animation: marquee2 40s linear infinite;
    animation-delay: 20s;
    transform: translateX(200%);
}

div#suggest:hover div#suggest-a, div#suggest:hover div#suggest-b {
    animation-play-state: paused;
}

div#suggest a { 
    text-decoration: none; 
    transition: color 0.1s linear 0.1s;
}

div#suggest span, div#suggest a { 
    margin-right: 5px;
}

div#suggest a:hover { 
    text-decoration: underline; 
}

div#suggest > div >div { 
    padding-left: 6px;
    padding-bottom: 1px;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}

#side-widget-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100vh - 30px);
    top: 30px;
    z-index: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.001));
}

body.frameless #side-widget-container {
    height: 100vh;
    top: 0;
}

#side-widget {
    width: 76px;
    opacity: 0.01;
    padding-left: 40px;
}

.side-widget-entry {
    border-bottom: 1px solid transparent;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.side-widget-entry a {
    height: 52px;
    width: 50px;
    display: inline-block;
    border-radius: 36px;
    background-size: cover !important;
    background-position: center center !important;
    text-decoration: none;
    box-shadow: inset 0 0 36px 0px rgba(0, 0, 0, 0.36);
    background-repeat: no-repeat !important;
    opacity: 0.875;
}

.side-widget-entry a:hover {
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.25), inset 0 0 6px 0px rgba(255, 255, 255, 0.5);
    opacity: 1;
    filter: saturate(1.2);
}

