body {
    overflow: hidden;
    margin-top: 0 !important;
    transition: background 0.1s linear;
}

iframe {
    border-width: 0;
}

body .fit-screen, body .fit-player {
    top: 30px;
    height: calc(100% - 30px);
}

iframe#testing-player {
    width: 640px;
    height: 480px;
}

div#player-status {
	position: absolute;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
    pointer-events: none;
    opacity: 0.001;
    transition: opacity 0.1s linear 0s;
}

div#player-status {
    height: calc(100% - 30px);
}

body.over.miniplayer div#player-status, body.paused.miniplayer div#player-status {
    height: calc(100% - 32px);
    padding-top: 16px;
}

body.over:not(.miniplayer) div#player-status, body.paused:not(.miniplayer) div#player-status {
    height: calc(100% - 62px);
    padding-top: 16px;
}

body.over.miniplayer.loading div#player-status {
    height: 100%;
}

body.frameless #nw-custom-frame {
    top: -30px !important;
}

body.frameless:not(.over) div#player-status {
    height: calc(100% - 0px);
}

div#player-status svg, div#player-status i {
	color: #fff;
	font-size: 48px; 
}

div#player-status .fac {
	border-radius: 36px;
    padding: 6px;
    display: none;
}

div#miniplayer-poster {
    display: none;
    text-align: center;
    padding: 3%;
    box-sizing: border-box;
}

div#miniplayer-poster {
    vertical-align: middle;
    width: 100%;
}

div#miniplayer-poster > div {
    vertical-align: middle;
    display: table-cell;
}

body.miniplayer:not(.playing):not(.paused):not(.loading):not(.modal) div#miniplayer-poster {
    display: table;
}

body.loading div#player-status, body.paused div#player-status {
    opacity: 0.5;
}

body.loading div#player-status .fac {
    background: transparent;
}

body.loading div.fac-loading {
	display: block !important;
}

body.paused div.fac-paused {
	display: block !important;
}

div#player-status svg.fa-play {
    font-size: 36px;
    margin: 5px 3px 6px 9px;
}

body.has-video.loading #video-controls, /* buffering */
body.has-menu-margin.paused #video-controls, /* has menu margin, paused */
body.has-menu-margin.playing.over #video-controls, /* has menu margin, playing, over */
body.paused.over:not(.has-menu-margin):not(.auto-hide) #video-controls,  /* no margin, paused, no auto hide, over window */
body.playing.over:not(.has-menu-margin):not(.auto-hide):not(.no-video) #video-controls,  /* no margin, playing, no auto hide, over window */
body.paused.auto-hide.over:not(.has-menu-margin) #video-controls, /* paused, no margin, autohide, over window */
body.playing.auto-hide.over:not(.has-menu-margin):not(.no-video) #video-controls, /* playing, no margin, autohide, over window */
body.playing.over.auto-hide:not(.no-video) #video-controls  /* playing, auto hide, over player */ {
	visibility: visible !important;
}

div#menu {
    overflow: visible;
    backface-visibility: hidden;
	transform: translate3d(0, 0, 1px);
    margin-top: 0 !important;
    perspective: 365px;
    position: absolute;
    left: auto;
    transition: transform 0.1s cubic-bezier(0, 1.1, 1, 1) 0s;
    z-index: 9998;
    right: 0;
    top: 30px;
    display: none;
    height: calc(100% - 30px);
    transform: translate(100%, 0) rotateY(-140deg);
}

body.show-menu:not(.paused):not(.playing):not(.loading) div#menu, /* not playing */
body.show-menu:not(.auto-hide):not(.has-menu-margin) div#menu, /* no margin, no autohide */
body.show-menu.has-menu-margin:not(.auto-hide) div#menu, /* has menu margin, no autohide */
body.show-menu.has-menu-margin.playing:not(.auto-hide) div#menu, /* playing, no autohide, has menu margin */
body.show-menu.has-menu-margin.paused:not(.auto-hide) div#menu, /* paused, no autohide, has menu margin */
body.auto-hide:not(.playing):not(.paused):not(.loading) div#menu, /* autohide, stopped */
body.auto-hide.over div#menu /* autohide, over */ {
    transform: translate(0%, 0) rotateY(0deg);
}

body.frameless .fit-screen, body.frameless .fit-player, body.frameless div#menu {
    top: 0px;
    height: 100%;
}

body.miniplayer div#menu {
    display: none !important;
}

#nw-custom-frame {
    z-index: 9999;
    height: 30px;
    overflow: visible;
    /* transition: height 0.1s linear 0s; */
}

body.frameless #nw-custom-frame {
    height: 0 !important;
}

.nw-cf-handle {
    overflow: hidden;
}

.nw-cf-icon { 
    background-position: center center; 
    background-repeat: no-repeat; 
}

.nw-cf-handle .nw-cf-icon { 
    margin-left: 5px;
}

.nw-cf-title { 
    vertical-align: top; 
    margin-left: 4px; 
}

.nw-cf-btn { 
    border-width: 0px; 
    position: relative;
    top: -2px;
    width: 42px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    outline: 0 !important;
}	

.nw-cf-btn:hover { 
    background-color: #20242FAA !important;
}

.nw-cf-close:hover {
    background-color: #FF000033 !important;
}

.nw-cf-close {
    position: relative;
}

.nw-cf-btn .nw-cf-icon { 
    vertical-align: middle;
}		

#background-overlay {
    top: 30px;
    height: calc(100% - 30px);
    z-index: -1;
    position: relative;
    perspective: 200px;
    perspective-origin: center;
}

html.ui-transparent-menu #background-overlay {
    top: 0;
    height: 100%;
    z-index: -1;
}

#background-overlay .background-logo {
    max-width: 28%;    
    max-height: 42%;
    position: absolute;
    transform-origin: center bottom 0px;
}

body.splash #background-overlay .background-logo {
    max-width: 18%;    
}

.background-logo-container {
    height: calc(100% - 30px) !important;
    width: 100%;
    display: flex;
    position: absolute;
    top: 30px !important;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#background-overlay.fit-player .background-logo-container {
    height: 100% !important;
    top: 0 !important;
}

body.splash #background-overlay {
    z-index: 2147483647 !important;
    width: 100% !important;
}

#loader {
    display: none;
    z-index: 2147483647;
    width: 0%;
    height: 6px;
    align-items: center;
    justify-content: center;
    bottom: 0;    
    left: 0;
    top: auto;    
    position: absolute;
    transition: width 3s ease;    
}

#splash-message {
    font-size: 150%;
    font-weight: bold;
    position: absolute;
    bottom: 12%;
    display: none;
}

#splash-message i, #splash-message svg {
    margin-right: 8px;
}

body.splash #background-overlay #loader {
    display: flex;
}

body.splash #splash-message {
    display: inline-block;
}

body.splash #menu, body.splash #player, body.splash #sandbox, body.splash #menu-trigger, body.splash #menu-toggle {
    display: none !important;
}

body.frameless #background-overlay {
    top: 0;
    height: 100%;
}

#background-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background-image {    
    width: 100%;
    height: 100% !important;
    top: 0 !important;
    display: inline-block;
    object-fit: cover;
    z-index: -2;
}

div#notify-area { 
    display: none;
    max-width: 100vw; 
    position: absolute; 
    top: 30px;
    left: 0;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 9998 !important;
    height: auto;
    padding-right: 74px;
    padding-top: 6px;
    transition: background 0.1s linear;
}

body.frameless div#notify-area { 
    top: 0;
    left: 0;
}

div.notify { 
    width: auto;
    font-size: inherit;
    margin: 18px 0 0 18px; 
    display: table-row;
    /*
    background-color: rgba(150, 0, 0, 0.45);
    box-shadow: inset 0 -5px 18px 8px rgba(50, 0, 0, 0.3), inset 0 0 3px 3px rgba(50, 0, 0, 0.3);
    */
}

div.notify img { 
    width: 28px;
    height: 28px;
    vertical-align: top;
}

div.notify .notify-icon {  /* not only span here */
    display: table-cell;
    margin: 9px 9px 9px 12px;
    box-sizing: border-box;
}

div.notify-row:not(.notify-first) div.notify .notify-icon {
    margin: 9px 9px 9px 16px;
}

div.notify-row span.notify-text {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

div.notify-row:not(.notify-first) span.notify-text {
    font-size: 1rem;
}

div.notify-row.notify-first span.notify-text {
    font-size: 1.5rem;
}

div.notify span.notify-icon { 
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; 
    overflow: hidden;
    display: inline-block;
    vertical-align: text-top;
    margin: 6px 9px 9px 12px;
}

div.notify-row {
    display: table-row-group;
    font-size: 62.5%;
    transition: font-size 0.1s linear 0s;
}

div.notify-row.notify-first {
    font-size: 1.5rem;
}

iframe#overlay {
    transition: background 0.4s cubic-bezier(0, 1.1, 1, 1) 0.2s;
    pointer-events: none;
    z-index: 3;    
}

body.playing iframe#overlay, body.paused iframe#overlay {
    background: transparent;
}

body.paused iframe#overlay {
    pointer-events: none;
    z-index: 2;
}

iframe#sandbox, #player {
    background-color: #000000;
}

#player {
    z-index: 1;    
}

body.auto-hide.show-menu:not(.frameless):not(.miniplayer) iframe#sandbox, body.auto-hide.show-menu:not(.frameless):not(.miniplayer) #player {
    border-top-right-radius: 4px;
}

body.miniplayer #player, body.miniplayer  iframe#sandbox, body:not(.show-menu) #player, body:not(.show-menu) iframe#sandbox {
    width: 100% !important;
}

body.modal div#menu, body.modal #player, body.modal .background-logo-container {
    display: none !important;
}

div#modal-overlay { 
    display: none;
    width: 100%; 
    height: calc(100% - 30px);
    position: absolute; 
    z-index: 10000;
    top: 30px;
}

body.frameless div#modal-overlay {
    height: 100vh;
    top: 0;
}

body.splash div#modal-overlay {
    z-index: -3;
}

div#modal-overlay > div { 
    display: table;
    width: 100%;
    height: 100%;
}

div#modal-overlay > div > div { 
    display: table-cell;
    vertical-align: middle;
    align-items: center;
    text-align: center;        
}

div#modal-overlay .prompt {
    display: inline-block;
    width: 100%;
    max-width: calc(86% + 4px);
    border-radius: 3px;
    overflow: visible;
}

div#modal-overlay .prompt textarea, div#modal-overlay .prompt input {
    border-width: 0;
    outline: 0;
    padding: 6px;
    box-sizing: border-box;
    float: left;
}

div#modal-overlay .prompt textarea {
    height: 160px;
}

span.modal-prompt-hint-balloon {
    position: absolute;
    box-sizing: border-box;
    z-index: 99999999;
    width: -webkit-fill-available;
    left: 0;
    top: 92%;
    overflow: visible;
}

span.modal-prompt-hint-balloon > span {
    position: relative;
    overflow: visible;
}

span.modal-prompt-hint-balloon-arrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    content: ' ';
    border-width: 9px 9px 9px 9px;
    border-style: solid;
    border-color: transparent transparent red transparent;
    margin: 0;
}

span.modal-prompt-hint-balloon-text {
    text-align: center;
    width: 100%;
    display: inline-block;
    overflow: visible;
    color: #ffffff;
    border-radius: 4px;
    font-size: 72%;
    padding: 6px;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    top: -6px;
    background: red;
}

.prompt-close {
    position: relative;
    float: right;
    display: flex;
    align-items: center;
}

.prompt-close a {
    position: absolute;
    right: 11px;
    top: 0;
    padding: 12px 0;
}

.prompt-no-header .prompt-close a {
    padding: 9px 0;
}

.prompt-input {
    display: flex;
    width: 100%;
}

.prompt-footer, .prompt-header {
    width: 100.1%;
    min-height: calc(3 * (font-size)px);
    margin: 0 auto;
    box-sizing: border-box;
}

.prompt-footer, .prompt-header, .prompt input, .prompt-close a {
    font-size: 1.5rem;
    line-height: 150%;
}

.prompt-header {
    padding: 12px;
    display: block;
}

.prompt-footer {
    display: table;
}

.prompt-footer .button {
    display: inline-table;
    height: fit-content;
    cursor: pointer;
    border-width: 0;
    font-size: inherit;
    vertical-align: bottom;
    outline: 0;
}

.prompt-footer .button small {
    display: block;
    font-size: 72%;
    position: relative;
    top: 1px;
    height: 0;
    opacity: 0.33;
}

.prompt-1-columns .button {
    width: 100%;
}

.prompt-2-columns .button {
    width: 50%;
}

.prompt-3-columns .button {
    width: 33.33%;
}

.prompt-4-columns .button {
    width: 25%;
}

#menu-trigger {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 2147483647 !important;
    padding: 2px 16px 2px 13px;
    border-bottom-left-radius: 4px;
    display: none;
    border-style: solid;
    border-width: 0 0 1px 1px;
    font-size: 118%;
    cursor: pointer;
}

body.over #menu-trigger {
    display: inline-block;
}

#menu-trigger:hover {
    color: #fff !important;
    padding: 2px 16px 2px 15px !important;
}

#menu-trigger i, #menu-trigger svg {
    font-size: 100%;
}

body.show-menu #menu-trigger, body.miniplayer #menu-trigger {
    display: none !important;
}

body.frameless #menu-trigger {
    top: 0px !important;
}

div#miniplayer-continue {
    display: inline-block;
    visibility: none;
    font-size: initial;
    background: #FFFFFF22;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 6px 0 0;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    line-height: 150%;
    position: absolute;
    left: 5%;    
    bottom: 5%;
    width: 90% !important;
}

td.miniplayer-continue-logo {
    min-width: 52px;
}

td.miniplayer-continue-logo:empty:before {
    height: 100%;
    width: 100%;
    display: inline-block;
    content: ' ';
    white-space: pre;
    background-image: url(assets/icons/white/white_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 2%;
}

td.miniplayer-continue-text {
    text-decoration: underline;
    padding-bottom: 6px;
}

div#miniplayer-drop-hint {
    padding: 3% 2% 12% 2%;
    font-size: initial;
    line-height: 172%;
    display: table-cell;
    background: #000000EE;
}

div#miniplayer-continue table {
    display: inline-table;
}

div#miniplayer-continue img, div#miniplayer-continue i, div#miniplayer-continue svg {
    max-width: 36px;
    max-height: 36px;
}

body.miniplayer:not(.playing):not(.paused):not(.loading) div#miniplayer-continue {
    visibility: visible;
}

body.clear-ui #menu, body.clear-ui #video-controls, body.clear-ui iframe {
    display: none !important;    
}

body.playing .video-play .fa-play, body.loading .video-play .fa-play {
    display: none;
}

body.playing .video-play .fa-pause, body.loading .video-play .fa-pause {
    display: inline-block;
}

body.paused .video-play .fa-play {
    display: inline-block;
}

body.paused .video-play .fa-pause {
    display: none;
}

body.clear-ui #background-overlay {
    width: 100%;
}

@keyframes bga-spin-x {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
        opacity: 0.75;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        transform: rotate3d(0, 1, 0, 180deg);
        opacity: 0.75;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        transform: rotate3d(0, 1, 0, 357deg);
        opacity: 0.75;
    }
}

@keyframes bga-spin-x-alt {
    0% {
        transform: scaleX(1);
        opacity: 0.75;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        transform: scaleX(-1);
        opacity: 0.75;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        transform: scaleX(1);
        opacity: 0.75;
    }
}

