
body {
    margin: 0;
    font-size: (font-size)px !important;
}

body.show-menu:not(.miniplayer) .fit-player, body.show-menu:not(.miniplayer) .fit-player-min {
    width: calc(100% - (menu-width));
}

div.drop-target {
    z-index: 1;
}

#drop-target {
    background-color: transparent;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#drop-target svg, #drop-target i {
    display: none;
    font-size: 750%;
}

#drop-target.hover svg, #drop-target.hover i {
    display: inline-block;
}  

div#subtitles-container {
    position: absolute;
    bottom: 0;
    top: auto;
    height: fit-content;
    z-index: 99999;
    text-align: center;
}

body.over div#subtitles-container {
    bottom: calc((icon-size)px + (menu-entry-vertical-padding)px);
}

div#subtitles-container > div {
    background: #00000099;
    color: #ffffff;  
    text-shadow: 2px 2px #000000;
    font-size: 1.5rem;  
    display: inline-block;
    width: fit-content;
    margin: 0;
    padding: 4px 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: 12px;
}

