
div.drop-target {
    z-index: 1;
}

#drop-target {
    background-color: transparent;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#drop-target svg, #drop-target i {
    display: none;
    color: #fff;
    font-size: 750%;
}

#drop-target.hover {
    background-color: rgba(99, 7, 16, 0.8);
}

#drop-target.hover svg, #drop-target.hover i {
    display: inline-block;
}  