
body {
	margin: 0;
}	

video {
	object-fit: fill;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all 0.1s linear 0s;
	/* not working
	transition: filter 0.2s linear 0.1s, -webkit-filter 0.2s linear 0.1s;
	-webkit-transition: filter 0.2s linear 0.1s, -webkit-filter 0.2s linear 0.1s;
	*/
}

video::-webkit-media-controls-panel { 
	display: none !important;
	opacity: 0.001 !important;
}