body {
    font-size: (fontsize)rem;
}


html.ui-index {
    background: (bg);
}

html.ui-index .nw-cf {
    background: transparent;
}

html.ui-index body.miniplayer.playing .nw-cf, html.ui-index body.miniplayer.paused .nw-cf {
    background: #00000077;
}

html.ui-index .nw-cf-btn { 
    background-color: transparent; 
}

html.ui-index body.playing #controls-toggle, html.ui-index body.paused #controls-toggle, html.ui-index body.playing #menu-trigger-icon, html.ui-index body.paused #menu-trigger-icon { 
    background: linear-gradient( to bottom, transparent, #00000077 100%);
}

body.playing:not(.show-menu) .nw-cf, body.paused:not(.show-menu) .nw-cf {
    background: #000000;
}

html.ui-index body.playing iframe#overlay, html.ui-index body.miniplayer iframe#overlay {
    box-shadow: none;
}

html.ui-index #background.loading {
    background: (bg);
}

html.ui-index div.notify { 
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

html.ui-index #menu-trigger-icon, html.ui-index #controls-toggle {
    background: transparent;
    border-bottom-color: (fgcolor)20;
    border-right-color: (fgcolor)07;
    border-left-color: (fgcolor)07;
    color: (fgcolor)77; 
}

html.ui-index a.entry {
    border-bottom: 1px solid (fgcolor)03;
    box-shadow: inset 0 -11px 41px 0px rgba(0, 0, 0, 0.05), 0 -2px 2px rgba(0, 0, 0, 0.03);
}

html.ui-index #controls a.entry:first-child {
    border-top-color: transparent;
}

html.ui-index #controls .list {
    background: transparent;
}

html.ui-index.ui-transparent-menu body:not(.transparent-menu) #controls .list {
    background: (bgcolor)(menu-transparency-hex);
}

html.ui-index div#player-status {
    /* background: linear-gradient( to bottom, (bgcolor)(menu-transparency-hex) 0%, (bgcolor-playing)(player-status-transparency-hex) 18% ); */
    background: (bgcolor-playing)(player-status-transparency-hex);
}

html.ui-index .entry-name {
    color: (fgcolor);
    font-size: 128%;
    text-transform: uppercase;
}

html.ui-index.ui-light .entry-name {
    text-shadow: 1px 1px 2px (fgcolor)66;
}

html.ui-index:not(.ui-light) .entry-name {
    text-shadow: 1px 1px 0px #000, 0px 0px 3px #000;
}

html.ui-index .entry-logo .entry-logo-fa {
    color: (fgcolor);
}

html.ui-index body.playing #controls-toggle, html.ui-index body.paused #controls-toggle {
    color: (fgcolor)77; 
}

html.ui-index body:not(.playing) #controls-toggle:hover {
    opacity: 1;
}

html.ui-index body.submenu #controls-toggle { 
    color: (fgcolor)44 !important;
}

html.ui-index #controls-toggle:hover { 
    color: (fgcolor);  
}

html.ui-index #controls-toggle.entry-focused, html.ui-index .nw-cf-btn.entry-focused, html.ui-index .nw-cf-btn:hover {
    color: (fgcolor);  
}

html.ui-index .entry-label {
    color: (fgcolor)77;
}

html.ui-index a.entry:focus, html.ui-index a.entry.entry-focused {
    background: linear-gradient(to bottom, #FFFFFF15 0%, #FFFFFF0F 75%, #FFFFFF20 100%);
    outline: 0 !important;
    box-sizing: content-box;
    border-bottom: 1px solid (fgcolor)17;
}

html.ui-index .nw-cf-title {
    color: (fgcolor)77;
}

html.ui-index .nw-cf-icon i, html.ui-index .nw-cf-icon svg, html.ui-index .nw-cf-btn .nw-cf-icon { 
    color: (fgcolor)77;
}	

html.ui-index span.nw-cf-icon {
    background-image: url("default_icon.png");
}

html.ui-index.ui-light .nw-cf-icon {
    filter: invert(100%);
}

html.ui-index.ui-light .entry-logo img[src*="assets/icons/white"] {
    filter: invert(100%);
}

html.ui-index body.scrolled_400:not(.home) #list-icons {
    background: (bgcolor);
    border-color: (fgcolor)44;
}

html.ui-index #player {
    background: (bgcolor-playing);
}

html.ui-index body.playing div#controls div.list, html.ui-index body.paused div#controls div.list {
    background: linear-gradient( to bottom, (bgcolor), (bgcolor-playing) 18%);
}

html.ui-index body.playing, html.ui-index body.paused {
    background: (bg);
}

#vcontrols {
    background: (bgcolor-playing)(menu-transparency-hex);
}

html.ui-index div#controls-left-border {
    width: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 31px;
    height: calc(100% - 33px);
    background: linear-gradient(to top, (fgcolor)07 0%, (fgcolor)07 90%, (fgcolor)20 100%);
}

html.ui-index body.has-menu-margin div#controls-left-border {
    display: none;
}

html.ui-index .entry td.entry-logo-c {
    width: calc((icon-size)px + 2px);
}

html.ui-index #controls a.entry {
    height: calc((icon-size)px + (menu-entry-vertical-padding)px);
}

html.ui-index .entry-logo {
    width: (icon-size)px;
    height: (icon-size)px;
}

html.ui-index .entry-logo img {
    max-height: (icon-size)px;
}

html.ui-index .entry-logo-fa {
    font-size: calc((icon-size)px - 4px);
}

html.ui-index div#modal-overlay {
    background: linear-gradient(#00000000 0%, #000000FF 25%);
}

html.ui-index body.playing.transparent-menu #player, 
html.ui-index body.playing.transparent-menu iframe#sandbox, 
html.ui-index body.paused.transparent-menu #player, 
html.ui-index body.paused.transparent-menu iframe#sandbox,
html.ui-index body.playing.has-menu-margin #player, 
html.ui-index body.playing.has-menu-margin iframe#sandbox, 
html.ui-index body.paused.has-menu-margin #player, 
html.ui-index body.paused.has-menu-margin iframe#sandbox {
    width: 100% !important;
}

html.ui-index body.transparent-menu #controls-left-border {
    display: none;
}

html.ui-index body.has-menu-margin.auto-hide.over #controls > div, 
html.ui-index body.has-menu-margin.show-menu:not(.playing):not(.paused) #controls > div, 
html.ui-index body.has-menu-margin.show-menu:not(.auto-hide) #controls > div {
    width: 100%;
    height: calc(100% * (1 - (menu-margin)));
    right: calc((100vh - 30px) * ((menu-margin) / 2));
    top: calc((100% - 30px) * ((menu-margin) / 2));
}

html.ui-index body.has-menu-margin.show-menu.home #home-icons {
    bottom: calc((100vh - 30px) * ((menu-margin) / 2) + 1px);
    right: calc((100vh - 30px) * ((menu-margin) / 2) + 8px);
}

html.ui-index body.has-menu-margin #controls-toggle {
    top: calc((100vh - 30px) * ((menu-margin) / 2));
    right: calc((100vh - 30px) * ((menu-margin) / 2));
    left: auto;
}

html.ui-index body.has-menu-margin .vcontrols {
    bottom: calc((100% - 30px) * ((menu-margin) / 2));
    left: calc((100vh - 30px) * ((menu-margin) / 2));
    max-width: calc(100% - (2 * ((100vh - 30px) * ((menu-margin) / 2))));
    border-radius: 4px;
}

html.ui-index body.has-menu-margin.show-menu:not(.miniplayer):not(.auto-hide) .vcontrols {
    width: calc(100% - 34% - (3 * ((100vh - 30px) * ((menu-margin) / 2)))) !important;
}

html.ui-index body.auto-hide #controls-toggle {
    display: none;
}

html.ui-index body.transparent-menu.playing div#controls div.list, html.ui-index body.transparent-menu.paused div#controls div.list {
    background: linear-gradient( to bottom, (bgcolor-playing)(player-status-transparency-hex) 0%, (bgcolor-playing)(player-status-transparency-hex) 75%, (bgcolor-playing)(player-status-transparency-hex) 90%);
}


html.ui-index body.transparent-menu.playing div#player-status, html.ui-index body.transparent-menu.paused div#player-status {
    background: linear-gradient( to bottom, (bgcolor)(menu-transparency-hex) 0%, (bgcolor-playing)(player-status-transparency-hex) 18%);
}

html.ui-index body.playing:not(.show-menu) div#player-status, html.ui-index body.paused:not(.show-menu) div#player-status {
    background: linear-gradient( to bottom, #000000FF 0%, #000000(player-status-transparency-hex) 18%);
}

html.ui-index body.has-menu-margin.playing div#controls div.list, html.ui-index body.has-menu-margin.paused div#controls div.list {
    border-radius: 4px;
}

html.ui-index body.has-menu-margin.playing .fit-screen, html.ui-index body.has-menu-margin.playing .fit-player, html.ui-index body.has-menu-margin.playing .fit-player-min, 
html.ui-index body.has-menu-margin.paused .fit-screen, html.ui-index body.has-menu-margin.paused .fit-player, html.ui-index body.has-menu-margin.paused .fit-player-min {
    width: 100%;
}

body.show-menu:not(.miniplayer) .fit-player, body.show-menu:not(.miniplayer) .fit-player-min {
    width: calc(100% - (menu-width));
}

body #controls {
    width: (menu-width);
    transition: width 0.2s linear;
}

#player, iframe#sandbox {
    width: calc(100% - (menu-width)); /* +18px to box-shadow */
}

progress {
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar { 
    background: (bg);
}

progress::-webkit-progress-value {
    background: (fgcolor); 
    box-shadow: 0 0 36px (fgcolor);
}

html.ui-index .prompt-footer .button {
    display: inline-block;
    background: (bgcolor);
    color: (fgcolor);
    height: 100%;
    cursor: pointer;
    text-shadow: 1px 1px 1px (bgcolor);
}

html.ui-index .prompt-footer .button:hover, html.ui-index .prompt-footer .button.entry-focused {
    background: (bgcolor)DD;
}

html.ui-index div#miniplayer-poster {
    background: #000000;
}

html.ui-index div#miniplayer-poster > div {
    color: #fff;    
}

html.ui-overlay #drop-target svg, html.ui-overlay #drop-target i {
    color: #fff;
    font-size: 750%;
}

html.ui-overlay #drop-target.hover {
    background: linear-gradient(to top, #000000dd 50%, #000000aa 100%);
}

::-webkit-scrollbar {
    background: (fgcolor)33;
}

::-webkit-scrollbar-thumb {
    background: (fgcolor);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: (bg);
}

input[type=range] {
    -webkit-appearance: none;
    background: (fgcolor);
    border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: (bg);
    cursor: pointer;
    height: 12px;
    width: 16px;
}

body.tuning #background .background-logo {
    animation: (bg-anim) 4s infinite;
}