body {
    margin:0;
}

.nw-cf * {
	box-sizing: border-box;
}

.nw-cf {
	position:fixed;
	width:100%;
	top:0;
	left:0;
}


.nw-cf-icon {
	display:inline-block;
	vertical-align: inherit;
    background-position: center center;
    background-repeat: no-repeat;
}

.nw-cf-title {
	vertical-align: top;
}

.nw-cf-inner {
	display:flex;
}

.nw-cf-handle {
	flex: 1 0 0;
}

.nw-cf-btn {
	background: #FFF;
	color: #000;
	border:0;
	outline:0;
	padding:1px .75rem;
}

.nw-cf-btn:hover {
	background: #FFF;
	color: #000;
}

.nw-cf-close:hover {
	background: #FFF;
	color: #000;
}

.nw-cf-btn:focus {
	outline:0;
}